body {
  background-color: #d8e3e7;
font-family: 'Montserrat', sans-serif;
text-align: center;
}
h1{
  font-family: 'Lato', sans-serif;
}
li{
  list-style-type: none;
  margin: 10px;
}
.button-class{
background:    #FFE072;
width:         25%;
border:        1px solid black;
border-radius: 9px;
padding:       10px 25px;
display:       inline-block;
font:          normal normal 20px/1 "Noto Sans", sans-serif;
text-align:    center;
}
.button-class:hover{
  background:    #FFE792;
}
@media screen and (max-width: 910px) {
 .button-class{
   width: 50%;
 }
}
