body {
  background: rgb(238,255,244);
  background: linear-gradient(90deg, rgba(238,255,244,1) 0%, rgba(182,241,241,1) 57%, rgba(144,228,204,1) 100%);
font-family: 'Montserrat', sans-serif;
text-align: center;
}
h1{
  font-family: 'Lato', sans-serif;
}
li{
  list-style-type: none;
  margin: 10px;
}
.pokeball {
  width: 40px;
  position: relative;
  bottom: 5px;
  left: 10px;
}
.button-class{
background:    #FFE072;
width:         25%;
border:        1px solid black;
border-radius: 9px;
padding:       10px 25px;
display:       inline-block;
font:          normal normal 20px/1 "Noto Sans", sans-serif;
text-align:    center;
}
.button-class:hover{
  background:    #FFE792;
  cursor: pointer;
}
@media screen and (max-width: 910px) {
 .button-class{
  width: 50%;
 }
}
